<%= link_to 'Gamerz', root_path, class: 'brand-logo left hide-on-med-and-down' %>
<ul class="right hide-on-med-and-down">
  <li>
    <%= link_to '新規登録', new_user_registration_path, class: 'waves-effect waves-light' %>
  </li>
  <li>
    <%= link_to 'ログイン', new_user_session_path, class: 'waves-effect waves-light' %>
  </li>
</ul>

<%= link_to 'Gamerz', root_path, class: 'brand-logo left hide-on-large-only' %>
<ul class="right hide-on-large-only">
  <li>
    <%= link_to '新規登録', new_user_registration_path, class: 'waves-effect waves-light' %>
  </li>
  <li>
    <%= link_to 'ログイン', new_user_session_path, class: 'waves-effect waves-light' %>
  </li>
</ul>